body {
    font-family: Arial;
    background: #eef1f4;
}

.wrap {
    background: white;
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
}

input {
    display: block;
    margin-top: 10px;
    padding: 6px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 6px 10px;
}

#view {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.box {
    border: 1px solid black;
    padding: 10px;
}

.on {
    background: yellow;
}

#text {
    margin-top: 15px;
}
